<TypeaheadSearch @search={{action search}}
  @onClickSelected={{action @onClickSelected}}
  @onClickNew={{action @onClickNew}}
  @newItemPrompt="Create new customer"
  @selectedDisplayProp="name"
  as |customer selectedIndex selectResult index|>
  <li
    class="text-grey-lighter border-t border-grey p-2 hover:bg-black {{if (eq index selectedIndex) "bg-black selected"}}"
    onclick={{action  selectResult customer}}
    role="button"
    >
    <div class="w-full">
      {{customer.name}}
    </div>
    <div class="flex text-xs text-grey">
      <div class="w-1/2">
        {{customer.email}}
      </div>
      <div class="w-1/2 text-right">
        {{customer.uuid}}
      </div>
    </div>
  </li>
</TypeaheadSearch>
