<div class="container mx-auto py-4">
  <form class="w-full">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
          Invoice Number
        </label>
        <input class="appearance-none block w-full text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name" type="text" placeholder="00100001">
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="customer">
          Customer
        </label>
        <CustomerSearch
          @search={{action "search"}}
          @customers={{this.customers}}
          @selectedCustomer={{this.selectedCustomer}}
          @onSelectResult={{action (mut this.selectedCustomer)}}
          @onDeselectCustomer={{action "onDeslectCustomer"}}
          @onClickSelected={{action "editCustomer"}}
          @onClickNew={{action "createCustomer"}}
          />
      </div>
    </div>
  </form>

  {{#if this.editCustomer}}
    <h3>customer name: {{editCustomer.name}}</h3>
    <UiForm
      @classNames="w-full border boder-grey-lighter rounded p-4"
      @model={{this.editCustomer}}
      @onsubmit={{action this.submitEdit}}
      as |f|>
      <h2 class="border-b mb-4 border-grey-lighter">Customer Details</h2>
      <div class="flex flex-wrap -mx-3 mb-6">
        <f.input @field="name" @label="Name" @placeholder="Jane Doe" />
        <f.input @field="email" @label="Email" @placeholder="jane@example.com" />
        <f.input @field="phone" @label="Phone" @placeholder="2323 2324 2323" />
        <f.input @field="mobile" @label="Mobile" @placeholder="2323 2324 2323" />
        <div class="w-full px-3 mb-6 text-right">
          <f.submitButton />
          <f.cancelButton @onclick={{action this.cancelEdit}} />
        </div>
      </div>
    </UiForm>
  {{/if}}
</div>
